html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

/* Make sure text is selectable */
* {
  box-sizing: border-box;
}
